@font-face {
  font-family: 'Circe';
  src: url(/fonts/CirceBold.woff2);
  src: url(/fonts/CirceBold.woff);
  src: url(/fonts/CirceRegular.woff);
  src: url(/fonts/CirceRegular.woff2);
}
@font-face {
  font-family: 'Gilam';
  src: url(/fonts/Gilam-Bold.woff);
  src: url(/fonts/Gilam-Bold.woff2);
  src: url(/fonts/Gilam-Regular.woff);
  src: url(/fonts/Gilam-Regular.woff2);
  src: url(/fonts/Gilam-SemiBold.woff);
  src: url(/fonts/Gilam-SemiBold.woff2);
  src: url(/fonts/Gilam-Book.woff);
  src: url(/fonts/Gilam-Book.woff2);
}

a {
  text-decoration: none;
}

body {
  width: 1920px;
  background-color: #0E0E0E;
}

main {
  width: 1460px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  align-items: center;
}

.contacts {
  display: flex;
  justify-content: space-between;
  gap: 39px;
  align-items: center;
}

.contacts p::before {
  content: "+7 (812)" ;
  color: #D6AF76;
}

.contacts p {
  color: #FFFFFF;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.contacts a {
  color: #E4B564 ;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #E4B564;
  padding: 10px 25px 10px 26px;
}

.contacts a::before {
  content: url(/img/Vector.png);
  margin-right: 10px;
}

.heating-network-content h2 {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 120px 0 41px;
}

.heating-network-content p {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.heating-network-blocks {
  text-align: center;
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 20px;
  display: grid;
  gap: 27px;
  padding: 0;
  margin: 41px 0 161px;
  grid-template-columns: 467px 234px 234px 467px;
  grid-template-rows: repeat(2, 468px ); 
  grid-template-areas:  "top1 top2 top2 top3"
                        "bottom1 bottom1 bottom2 bottom2 ";
  
}

.block1 {
  background-color: #634F2C;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: top1;
}
.block2 {
  background-color: #B4A385;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: top2;
}
.block3 {
  background-color: #E4B564;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: top3;
}
.block4 {
  background-color: #635A4A;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: bottom1;
}
.block5 {
  background-color: #B08C4D;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: bottom2;
}

.construction-machinery h2 {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 161px 0 94px 0 ;
}

.wrapper-machinery p {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.items {
  padding: 45px 0 0 50px;
  box-sizing: border-box;
}

.wrapper-machinery {
  display: flex;
  gap: 27px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.column-3 {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.column-1 .item-1 {
  background: #0E0E0E;
  width: 467px;
  height: 313px;
}
.column-1 .item-1 p:last-child{
  font-weight: 700;
}

.column-1 .item-2 {
  background: #1F1F1F;
  width: 467px;
  height: 560px;
}

.column-2 .item-1 {
  background: #242424;
  width: 467px;
  height: 439px;
}
.column-2 .item-1 p:last-child {
  font-weight: 700;
}

.column-2 .item-2 {
  background: #E4B564;
  width: 467px;
  height: 405px;
}

.column-3 .item-1 {
  background: #1F1F1F;
  width: 467px;
  height: 255px;
}
.column-3 .item-2 {
  background: #0E0E0E;
  width: 467px;
  height: 313px;
}
.column-3 .item-3 {
  background: #0A0909;
  width: 467px;
  height: 277px;
}
.column-3 .item-3 p:only-child {
  font-weight: 700;
}

.wrapper-clients {
  display: flex;
  justify-content: space-between;
  margin: 352px 0 72px;
}

.wrapper-clients h2 {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #FFFFFF;
  
}

.wrapper-clients p {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #E4B564;
  border: 1px solid #E4B564;
  padding: 10px 40px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 240px;
}

.clients {
  width: 486px;
  height: 391px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.client-1, .client-6 {
  background: #634F2C;
}

.client-2 p:first-of-type {
  font-weight: 600;
}

.client-2 {
  background: rgba(232, 210, 171, 0.76);
  display: grid;
  align-content: center;
  justify-items: center;
  text-align: center;
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}


.client-3 {
  background: #E4B564;

}
.client-4 {
  background: #635A4A;

}
.client-5 {
  background: #B08C4D;
}